
* {
  box-sizing: border-box;
}

i {
  color: #bc4123;
  background-color: #094479;
}

body {
  width: 100%;
  font-size: 28px;
  font-family: "Oxygen", sans-serif;
  color: #fff;
  background-color: #0b172a;
}

#main-section {
  display: grid;
  place-items: center;
  margin-top: 3em;
}

#login-form {
  position: relative;
  border-top: 50px solid #bc4123;
  border-left: 3px solid #bc4123;
  border-right: 3px solid #bc4123;
  border-bottom: 3px solid #bc4123;
  border-radius: 2%;
  padding-bottom: 20px;
  text-align: center;
  width: 450px;
}

#password {
  margin-top: 10px;
}

#username {
  margin-top: -20px;
}


#header-section {
  text-align: center;
  background-color: #094479;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

#footer {
  margin-top: 5em;
  text-align: center;
}

#signin {
  position: absolute;
  top: -45px;
  left: 38%;
}

#submit {
  text-align: center;
  color: #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

button {
  background-color: #bc4123;
}

@media (min-width: 376px max-width: 768px) {
  body {
    font-size: 18px;
    display: flex;
  }

  #login-form {
    width: 745px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 34%;
  }
}



@media (max-width: 375px) {
  body {
    font-size: 18px;
    display: flex;
  }

  #login-form {
    width: 359px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 3.8em;
  }
}

