#site-container {
  font-family: "Open Sans", sans-serif;
  place-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

#header-section {
  background-color: #7f9ba6;
  color: #F1F1F1;
  width: 100%;
  text-align: center;
}


#login-form {
  border-top: 50px solid #7f9ba6;
  border-left: 2px solid #7f9ba6;
  border-right: 2px solid #7f9ba6;
  border-bottom: 2px solid #7f9ba6;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  border-radius: 2%;
  margin-top: -50px;
  
}


#signin {
  background-color: #7F9BA6;
  color: #F1F1F1;
  position: relative;
  float: left;
  top: -33px;
  padding-bottom: 10px;
}

#continue {
  width: 75px;
  height: 25px;
  border-radius: 12px;
  color: #4E6969;
  border: 1px solid #4E6969 ;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: -80px;
  margin-right: -20px;
}

#label-username {
  position: absolute;
  margin-top: 15px;
  font-weight: bold;
  color: #4E6969;
}

#input-username {
  color: #4E6969;
  width: 42%;
}

#label-password {
  position: relative;
  margin-top: 5px;
  font-weight: bold;
  color: #4E6969;
}

#input-password {
 
  color: #4E6969;
  width: 42%;
  
}

#footer {
  color: #4E6969;
  position: relative;
  margin-top: 20em;
  }



@media only screen and (min-width: 768px) {

  #main-section {
    margin-top: 7em;
  }

  #continue {
    margin-bottom: 17em;
    margin-right: 1.4em;
  }

}

@media only screen and (min-width: 375px) {
  #continue {
    position: absolute;
    top: 34.5em;
    right: 21em;
  }
}

